rust/acsl-rust/target
c++/ninety-nine/ninety-nine.sln
c++/ninety-nine/Debug
c++/ninety-nine/.vs
c++/ninety-nine/x64
c++/ninety-nine/ninety-nine/Debug
c++/ninety-nine/ninety-nine/x64
c++/ninety-nine/ninety-nine/ninety-nine.vcxproj
c++/ninety-nine/ninety-nine/ninety-nine.vcxproj.filters
c++/ninety-nine/ninety-nine/ninety-nine.vcxproj.user
